<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AudioServerPlugIn_LoadingConditions</key>
  <dict>
    <key>IOService Matching</key>
    <array>
      <dict>
        <key>IOProviderClass</key>
        <string>IOPlatformExpertDevice</string>
      </dict>
    </array>
  </dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>GrafProof</string>
  <key>CFBundleIdentifier</key>
  <string>pro.2brain.graf.proof.driver</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>GRAF Proof Driver</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleSignature</key>
  <string>BNDL</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.5</string>
  <key>CFPlugInDynamicRegistration</key>
  <false/>
  <key>CFPlugInFactories</key>
  <dict>
    <key>7F0B7A5E-0E91-4C6C-B97D-2B5D5E4E7A21</key>
    <string>GrafProofDriverFactory</string>
  </dict>
  <key>CFPlugInTypes</key>
  <dict>
    <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
    <array>
      <string>7F0B7A5E-0E91-4C6C-B97D-2B5D5E4E7A21</string>
    </array>
  </dict>
</dict>
</plist>
